body{
    background-image: url(validationform/wp9764009.webpc);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .h1
  {
    color:#e26f2c;
  
  }
  .container
  {
      text-align: center;
      z-index: 1;
  }